#alertBox {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    pointer-events: none;
    /* IE11 */
    background: none !important;
}
.alertDiv {
    transform: translateX(-300px);
    margin-top: 5px;
    width: 300px;
    height: 40px;
    
    display: flex;
    border-radius: 8px;
    transition: ease .5s;

}
.alertBar {
    width: 10px;
    height: 100%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}
.alertIcon {
    border-radius: 6px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}
.alertSpan {
    width: 80%;
    height: 100%;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}
.alertDiv.move { 
    transition: ease .5s;
    transform: translateX(5px);
}

/* Types of alerts */
.alertDiv.error {
    background-color: rgb(251, 138, 138);
}
.alertBar.error{
    background: #fc0404;
}
.alertIcon.error{
    color: #cd0606;
    background-color: #fc6464;
}
.alertSpan.error{
    color: #bf4141;
}
.alertDiv.success {
    background-color: rgb(151, 251, 138);
}
.alertBar.success{
    background: #04fc04;
}
.alertIcon.success{
    color: #1dcd06;
    background-color: #71fc64;
}
.alertSpan.success{
    color: #54bf41;
}

.alertDiv.info {
    background-color: rgb(138, 174, 251);
}
.alertBar.info{
    background: #0484fc;
}
.alertIcon.info{
    color: #064ccd;
    background-color: #64abfc;
}
.alertSpan.info{
    color: #4182bf;
}

.game-end {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background: red; */
    /* backdrop-filter: blur(40px); */
    pointer-events: none;
    transition: 2s;
}
.game-end.move{
    backdrop-filter: blur(40px);
    transition: 2s;
}
#result, #winner-points, #loser-points {
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.game-info {
    width: 100%;
    min-width: 1500px;
    height: 100%;
    transition: .2s;
}
.winner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    transform: translateX(1000px);
    /* background: green; */
    transition: .5s;
}
.winner-info.move-middle {
    transform: translateX(0%);
}
.winner-info.move-top {
    transform: translate(-500px, -100px);
}
#winner-name, #loser-name {
    display: flex;
    justify-content: center;

    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 10px;
}
.loser-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    /* transform: translateX(1000px); */
    /* background: green; */
    transition: .5s;
}
.loser-info.move-middle {
    transform: translateX(0px);
}
.loser-info.move-top {
    transform: translate(500px, -100px);
}
.canvas-box {
    display: flex;
    justify-content: center;
}

/* #winner-maps, #loser-maps {
} */
