#lobby-selector {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
#lobby-selector h2 {
  margin-bottom: 10px;
}
.refresh-box {
  width: 80%;
  display: flex;
  justify-content: end;
}
#btn-refresh {
  position: relative;
  margin-bottom: 10px;
  width: 150px;
  height: 30px;
  background-color: #4caf50;
  font-size: 20px;
  border: none;
  color: #121212;
  overflow: hidden;
}
button {
  cursor: pointer;
}
#btn-refresh span {
  position: relative;
  z-index: 1;
}
#btn-refresh::before {
  content: "";
  position: absolute;
  top: var(--valueY);
  left: var(--valueX);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  background: rgb(37, 236, 44);
  transition: width 0.8s, height 0.8s;
}
#btn-refresh:hover::before {
  width: 500px;
  height: 500px;
}
#btn-refresh:active::before {
  background: rgb(60, 114, 62);
}
#btn-refresh span i {
  transition: 0.5s;
}
#btn-refresh:hover span i {
  transform: rotate(180deg);
}

.lobby-box {
  width: 80%;
  height: 500px;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.lobbies-list {
  background: #2a2a2a;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
}
.lobbies-list::-webkit-scrollbar {
  /* #4caf50 */
  /* background-image: linear-gradient(90deg, red, blue); */
  background: none;
}
.lobbies-list::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background: #1d1c1c;
  border-radius: 10px;
}
.lobbies-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(0deg, rgb(29, 129, 29), #4caf50);
  border-radius: 10px;
}
.lobby-card {
  width: 100%;
  background-color: #1d1c1c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  transition: 0.3s;
  animation: card-enter 0.5s;
}
@keyframes card-enter {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.lobby-card:hover,
.lobby-card:focus-within {
  transform: scale(1.048);
}
.top-text ul,
.bottom-text ul {
  list-style: none;
  text-align: center;
  width: 33%;
}
.top-text li,
.bottom-text li {
  display: flex;
  justify-content: center;
}
.top-text,
.bottom-text {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.bottom-text {
  margin: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.status {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  position: relative;
}

.status.ingame {
  background-color: yellow;
}
.status.finished {
  background-color: red;
}

.status:hover::after {
  content: "Waiting";
  width: 100px;
  height: 20px;
  font-size: 14px;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: normal;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -43px;
  top: -20px;
  box-shadow: 0px 0px 22px 0px rgb(108, 255, 95);
  background-color: rgb(108, 255, 95);
}

.status.ingame:hover::after {
  content: "Playing";
  width: 100px;
  height: 20px;
  font-size: 14px;
  transition: 0.5s;
  font-weight: normal;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -43px;
  top: -20px;
  box-shadow: 0px 0px 22px 0px rgb(255, 244, 95);
  background-color: rgb(255, 244, 95);
}

.status.finished:hover::after {
  content: "Finished";
  width: 100px;
  height: 20px;
  font-size: 14px;
  transition: 0.5s;
  font-weight: normal;
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -43px;
  top: -20px;
  box-shadow: 0px 0px 22px 0px rgb(255, 95, 95);
  background-color: rgb(255, 95, 95);
}

button {
  cursor: pointer;
}

#btn-join {
  margin-top: 9px;
  width: 100%;
  height: 30px;
  background-color: #4caf50;
  font-size: 20px;
  border: none;
  color: #121212;
}

#btn-display {
  position: relative;
  font-size: 20px;
  border: none;
  background: none;
  color: #fff;
}

.options-tooltip {
  width: 200px;
  height: 120px;
  position: absolute;
  top: -60px;
  z-index: 5;
  backdrop-filter: blur(30px);
  /* background-color: red; */
  color: white;
  border-radius: 10px;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  font-size: 13px;
  transform: translateX(-24px);
  transition: 0.4s;
}

@supports (backdrop-filter: blur(40px)) {
  .options-tooltip {
    backdrop-filter: blur(30px);
  }
}

@supports not (backdrop-filter: blur(40px)) {
  .options-tooltip {
    background-color: #121212;
  }
}

#btn-display:hover .options-tooltip,
#btn-display:focus-within .options-tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

.columns {
  width: 100%;
  height: 100%;
  display: flex;
}

.column {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column ul {
  width: auto;
}

.column ul li:nth-child(even) {
  color: #4caf50;
  font-weight: bold;
  font-size: 17px;
}

.bottom-text li:nth-child(even),
.top-text li:nth-child(even) {
  color: #4caf50;
  font-weight: bold;
  font-size: 17px;
}
.options {
  display: none;
}
#gameCode {
  display: none;
}

@media (min-width: 750px) {
  .bottom-text ul {
    display: block;
  }
  .bottom-text > ul:first-child {
    display: none;
  }
  .lobby-box {
    width: 80%;
  }
  .options {
    display: flex;
    overflow-x: auto;
  }
  .options-slider {
    min-width: 733px;
    display: flex;
  }
  .options::-webkit-scrollbar {
    height: 2px;
    /* #4caf50 */
    /* background-image: linear-gradient(90deg, red, blue); */
    background: none;
  }
  .options::-webkit-scrollbar-track {
    background: #1d1c1c;
    border-radius: 10px;
  }
  .options::-webkit-scrollbar-thumb {
    background-image: linear-gradient(90deg, red, blue);
    border-radius: 10px;
  }
  .top-text,
  .bottom-text {
    width: 97%;
  }
  .bottom-text ul {
    width: 200px;
  }
  .lobby-card {
    width: 95%;
  }
  #btn-join {
    /* display: none; */
  }
  #btn-display {
    display: none;
  }
}
