* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #121212;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

#loginSection {
  min-width: 100vw;
  min-height: 100vh;
}

.redLine {
  opacity: 0;
  height: 100vw;
  width: 20px;
  margin-left: 100px;
  background-color: #D62237;
  -webkit-box-shadow: #D62237 0px 0px 20px;
          box-shadow: #D62237 0px 0px 20px;
  position: relative;
  -webkit-animation: moveRed 2.5s forwards;
          animation: moveRed 2.5s forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.turn {
  height: 20px;
  width: 0;
  background-color: #D62237;
  -webkit-box-shadow: #D62237 0px 0px 20px;
          box-shadow: #D62237 0px 0px 20px;
  position: relative;
  -webkit-animation: makeTurn 5s forwards;
          animation: makeTurn 5s forwards;
  -webkit-animation-delay: 6.27s;
          animation-delay: 6.27s;
}

.yellowLine {
  opacity: 0;
  height: 20px;
  width: 0;
  margin-right: 100px;
  background-color: #FFCD05;
  -webkit-box-shadow: #FFCD05 0px 0px 20px;
          box-shadow: #FFCD05 0px 0px 20px;
  position: absolute;
  top: 120px;
  right: 30px;
  float: right;
  -webkit-animation: moveYellow 2s forwards;
          animation: moveYellow 2s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.yellowCircleStart, .yellowCircleFinish,
.redCircleFinish {
  width: 57px;
  height: 57px;
  background-color: #FFCD05;
  -webkit-box-shadow: #FFCD05 0px 0px 20px;
          box-shadow: #FFCD05 0px 0px 20px;
  position: relative;
  top: 100px;
  float: right;
  margin-right: 100px;
  border-radius: 200px;
}

.redCircleFinish {
  background-color: #D62237;
  -webkit-box-shadow: #D62237 0px 0px 20px;
          box-shadow: #D62237 0px 0px 20px;
  left: 50vw;
  top: 33.5vw;
}

.yellowCircleFinish {
  margin-right: 1200px;
}

@-webkit-keyframes moveRed {
  from {
    top: 150vh;
    opacity: 0;
  }
  to {
    top: 70vh;
    opacity: 1;
  }
}

@keyframes moveRed {
  from {
    top: 150vh;
    opacity: 0;
  }
  to {
    top: 70vh;
    opacity: 1;
  }
}

@-webkit-keyframes moveYellow {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 1250px;
    opacity: 1;
  }
}

@keyframes moveYellow {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 1250px;
    opacity: 1;
  }
}

@-webkit-keyframes makeTurn {
  from {
    width: 0;
  }
  to {
    width: 85vw;
  }
}

@keyframes makeTurn {
  from {
    width: 0;
  }
  to {
    width: 85vw;
  }
}

.loginPane {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-40%);
          transform: translateX(-50%) translateY(-40%);
}

#login {
  font-size: 60px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
  text-align: center;
}

input {
  outline: none;
}

#inputLogin, #inputPassword {
  margin-top: 5%;
  background-color: transparent;
  border: solid 3px;
  border-style: none none solid none;
  color: white;
  font-size: 30px;
  display: block;
}

#inputPassword {
  margin-top: 15%;
}

#loginButton {
  margin-top: 10%;
  background-color: #D62237;
  border-style: none;
  height: 35%;
  width: 100%;
  color: white;
  font-size: 30px;
}

.circle {
  width: 77px;
  height: 77px;
  position: relative;
  border-radius: 200px;
  display: inline-block;
}

.orange {
  background-color: #FF4F00;
  -webkit-box-shadow: #FF4F00 0px 0px 30px;
          box-shadow: #FF4F00 0px 0px 30px;
}

.line {
  position: relative;
  display: inline-block;
  bottom: 25px;
  right: 8px;
  width: 20%;
  height: 25px;
}

.firstTurn {
  position: relative;
  float: right;
  width: 25px;
  height: 70vh;
}

.secondCircle {
  top: 70vh;
  right: 2.5vw;
}

@media only screen and (max-width: 600px) {
  .secondCircle {
    top: 70vh;
    right: 16vw;
  }
}
/*# sourceMappingURL=indexStyle.css.map */