:root {
    --transition-speed: 600ms;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --hover-color: #EE2737FF;
}

main {
    transition: var(--transition-speed) ease;
    margin-left: 5rem;
    height: 100vh;
    background: lightgray;
}

.play-settings {
    display: flex;
    background: var(--bg-primary);
    width: 500px;
    height: 440px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: start;
    z-index: 0;
  }

  .title, .sub-title {
    text-align: center;
    color: var(--text-primary);
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .choicebox {
    width: 150px;
    background: transparent;
    border: none;
    color: var(--hover-color);
    font-size: 20px;
    border-bottom: solid var(--hover-color) 1px;
  }

  .choicebox * {
    background: var(--bg-primary);
    border: none;
  }

  .btn-start {
    transition: 0.4s;
    margin-top: 40px;
    align-self: center;
    width: 50%;
    height: auto;
    font-size: 24px;
    background: transparent;
    color: var(--hover-color);
    border: solid var(--hover-color) 3px;
    cursor: pointer;
  }

  .btn-start:hover {
    transition: 0.4s;
    background: var(--hover-color);
    color: var(--text-secondary);
  }
/* Small screens */
@media only screen and (max-width: 600px) {
    .play-settings {
      width: 92%;
      height: 440px;
    }
    main {
      margin: 0;
    }
  }

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar-nav:hover + main{
        background-color: red;
    }
}