:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --transition-speed: 600ms;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --hover-color: #EE2737FF;
  }

main {
    transition: var(--transition-speed) ease;
    margin-left: 5rem;
    height: 100vh;
    background: lightgray;
    display: flex;
    justify-content: center;
}

.sett-panel {
    align-self: center;
    width: 60%;
    height: 75%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
}

.title, .sub-title {
    text-align: center;
    color: var(--text-primary);
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  .choicebox {
    width: 150px;
    background: transparent;
    border: none;
    color: var(--hover-color);
    font-size: 20px;
    border-bottom: solid var(--hover-color) 1px;
  }

  .choicebox * {
    background: var(--bg-primary);
    border: none;
  }

  .btn-save {
    transition: 0.4s;
    margin-top: 40px;
    align-self: center;
    width: 50%;
    height: auto;
    font-size: 24px;
    background: transparent;
    color: var(--hover-color);
    border: solid var(--hover-color) 3px;
    cursor: pointer;
  }

  .btn-save:hover {
    transition: 0.4s;
    background: var(--hover-color);
    color: var(--text-secondary);
  }

  .sett-item {
      display: flex;
      float: right;
      margin-left: 10%;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  .inputbox {
      align-self: center;
      background: transparent;
      border: none;
      border-bottom: solid 1px var(--hover-color);
      font-size: 20px;
      float: right;
      outline: none;
      margin-right: 10%;
      color: var(--text-primary)
  }

  @media only screen and (max-width: 600px) {
      main {
          margin-left: 0;
      }
      .sub-title, .inputbox {
          margin-left: 0;
          margin-right: 0;
          font-size: 16px;
      }
      .sett-item {
          margin-left: 0;
          flex-direction: column;
          align-self: center;
      }
      .sett-panel {
          width: 90%;
          margin-bottom: 30%;
      }

  }
