<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/logic/Debug.js"></script>
    <script src="../scripts/logic/DrawSolved.js"></script>
    <script src="../scripts/logic/solver/sat/SAT.js"></script>
    <script src="../scripts/logic/Game.js"></script>
    <script src="../scripts/logic/solver/sat/SolvedTests.js"></script>


    <link rel="stylesheet" href="../css/game.css">
    <title>Tests</title>
</head>
<body>
    <div id="debug-mode">
        <input id="debugCheckBox" type="checkbox" checked> Debug Mode</input>
        <div class="game-info">
            <p class="header">Game informations</p>
            <div id="end"></div>
            <div id="status"></div>
            <div id="gameMapArray">Game map array:</div>
            <div id="mouseMoved">Mouse position (X, Y):</div>
            <div id="bugWithPipes"></div>
        </div>
        <div class="solver-info">
            <p class="header">Solver informations</p>
            <button id="solve">SOLVE FULL MAP</button>
            <div id="solveTime">Solved in: </div>
            <div id="solverComplexity">Nodes/Variables/Clausules: </div>
            <div id="reducedToSat">Clauses that have been created:
                <textarea id="satLog" cols="30" rows="10"></textarea>
            </div>
            <div id="completedMap">Solved game map Array:</div>
            <br>
        </div>
    </div>

    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <canvas id="game" width="800" height="800" style="border: solid 2px #FFF"></canvas>
    </section>
</body>
</html>