<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Ustawienia</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/settings.css">
</head>
<body>
    <nav id="nav-placeholder"></nav>
    <script>
        $(function(){
            $("#nav-placeholder").load("sidebar.html");
        });
    </script>

    <main>
        <div class="sett-panel">
            <h1 class="title">Ustawienia profilu</h1>
            <hr width="90%" color="#EE2737">
            <div class="sett-item">
                <h2 class="sub-title">Nazwa użytkownika</h2>
                <input type="text" name="" id="" class="inputbox">
            </div>
            <div class="sett-item">
                <h2 class="sub-title">E-mail</h2>
                <input type="text" name="" id="" class="inputbox">
            </div>
            <div class="sett-item">
                <h2 class="sub-title">Stare hasło</h2>
                <input type="text" name="" id="" class="inputbox">

            </div>
            <div class="sett-item">
                <h2 class="sub-title">Nowe hasło</h2>
                <input type="text" name="" id="" class="inputbox">
            </div>
            <div class="sett-item">
                <h2 class="sub-title">Powtórz nowe hasło</h2>
                <input type="text" name="" id="" class="inputbox">
            </div>

            <button type="submit" class="btn-save">ZAPISZ</button>
        </div>
    </main>
</body>
</html>