<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../scripts/logic/Solver/Astar/Map.js"></script>
    <script src="../scripts/logic/Solver/Astar/MapState.js"></script>
    <script src="../scripts/logic/Utility.js"></script>
    <script src="../scripts/logic/Solver/Astar/Astar.js"></script>
    <script src="../scripts/logic/Solver/Astar/Node.js"></script>
    <script src="../scripts/logic/Solver/Astar/Moves.js"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src="../scripts/logic/Solver/Astar/Solver.js"></script>
</head>
<body style="background: #121212;">
    <div id="messageBox" style="display:flex; justify-content: center; font-size: 100px; color: white;">
        <div id="before"></div>
        <div id="after"></div>
    </div>
</body>
</html>