<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/auth.css">
    <title>Login</title>
</head>
<body>
    <div class="circle"></div>

    <div class="register-prompt">
        <h1 class="reg-title">Jesteś tutaj nowy?</h1>
        <p class="reg-paragph">Jeżeli chcesz zagrać, zarejestruj się przyciskiem poniżej!</p>
        <button id="btn-goRegister">Przejdź do rejestracji</button>
    </div>

    <div class="login-prompt hide">
        <h1 class="reg-title">Masz już konto?</h1>
        <p class="reg-paragph">Zaloguj się przyciskiem poniżej i zacznij grać!</p>
        <button id="btn-goLogin">Przejdź do logowania</button>
    </div>

    <div class="login-panel">
        <h1>Zaloguj</h1>
        <input type="text" name="" class="inputbox" placeholder="Login">
        <input type="password" name="" class="inputbox" placeholder="Hasło">
        <button id="btn-login">Login</button>
    </div>

    <div class="register-panel hide">
        <h1>Zarejestruj</h1>
        <input type="text" name="" class="inputbox" placeholder="Nick">
        <input type="text" name="" class="inputbox" placeholder="Login">
        <input type="text" name="" class="inputbox" placeholder="E-mail">
        <input type="password" name="" class="inputbox" placeholder="Hasło">
        <input type="password" name="" class="inputbox" placeholder="Powtórz hasło">

        <button id="btn-login">Zarejestruj</button>
    </div>

    <script src="/javascript/auth.js"></script>
</body>
</html>