<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/indexStyle.css">
    <title>Flow Free</title>
</head>
<body>

    <section id = "loginSection">
        <!-- <div class="yellowCircleStart"></div>

        <div class="yellowCircleFinish"></div>

        <div class="yellowLine"></div>

        <div class="redCircleFinish"></div>

        <div class="redLine">
            <div class="turn"></div>
        </div> -->

        <div class="orange circle"></div>

        <div class="orange line">
            <div class="orange firstTurn"></div>
            <div class="orange secondTurn"></div>
        </div>

        <div class="orange circle secondCircle"></div>

        <div class="loginPane">
            <p id="login">ZALOGUJ</p>
            <input type="text" id="inputLogin" placeholder="Login">
            <input type="password" id="inputPassword" placeholder="Hasło">
            <button type="submit" id="loginButton">ZALOGUJ</button>
        </div>

    </section>

    <script src="../javascript/script.js"></script>
</body>
</html>