<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/auth.css">
    <title>Login</title>
</head>
<body>
    <circle></circle>

    <div class="register-prompt">
        <h1 class="reg-title">Jesteś tutaj nowy?</h1>
        <p class="reg-paragph">Jeżeli chcesz zagrać, zarejestruj się przyciskiem poniżej!</p>
        <button id="btn-register">Przejdź do rejestracji</button>
    </div>
    <div class="login-panel">
        <h1>Zaloguj</h1>
        <input type="text" name="" id="inputbox" placeholder="Login">
        <input type="password" name="" id="inputbox" placeholder="Hasło">
    </div>
</body>
</html>