<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozgrywka</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/play.css">
</head>
<body>
    <nav id="nav-placeholder"></nav>
    <script>
        $(function(){
            $("#nav-placeholder").load("sidebar.html");
        });
    </script>
    <main id="kek">
        <div class="play-settings">
            <h1 class="title">Ustawienia gry</h1>
            <hr width="90%">

            <div class="option">
                <h2 class="sub-title">Limit czasu:</h2>
                <select name="" id="" class="choicebox">
                    <option value="01:00">01:00</option>
                    <option value="03:00">03:00</option>
                    <option value="05:00">05:00</option>
                </select>
            </div>

            <div class="option">
                <h2 class="sub-title">Wielkość siatki:</h2>
                <select name="" id="" class="choicebox">
                    <option value="4x4">4x4</option>
                    <option value="6x6">6x6</option>
                    <option value="8x8">8x8</option>
                    <option value="16x16">16x16</option>
                </select>
            </div>

            <div class="option">
                <h2 class="sub-title">Ilość punktów:</h2>
                <select name="" id="" class="choicebox">
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                </select>
            </div>

            <button type="submit" class="btn-start">START</button>
        </div>
    </main>
</body>
</html>