<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascript/script.js"></script>
    <link rel="stylesheet" href="../css/test.css">
    <title>Tests</title>
</head>
<body style="background: #121212; padding: 0; margin: 0;">

    <div id="debug-mode" style="position: absolute; float: right; ">
        <div id="end" style="color: #FFF;">Start, End</div>
        <div id="status" style="color: #FFF;">Rect, Offset </div>
        <div id="gameMapArray" style="color: #FFF;">Array</div>
        <div id="mouseMoved" style="color: #FFF;">Mouse</div>
    </div>

    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
        <canvas id="game" width="800" height="800" style="border: solid 2px #FFF"></canvas>
    </section>
</body>
</html>