<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/top.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <title>Top</title>
</head>
<body>
    <nav id="nav-placeholder"></nav>
    <script>
        $(function(){
            $("#nav-placeholder").load("sidebar.html");
        });
    </script>

    <main>
        <div class="top-panel">
            <h1 class="title">TOP 5</h1>
            <div class="top-titles">
                <h3 class="sub-title">Avatar</h3>
                <h3 class="sub-title">Nazwa</h3>
                <h3 class="sub-title">Punkty</h3>

            </div>
            <hr width="90%" color="#EE2737">
            <div class="top-highscores">
                <div class="top-item">
                    <img src="/images/avatar.png" alt="avatar" class="avatar">
                    <h2 class="sub-title">Testowy1</h2>
                    <h2 class="sub-title points">100</h2>
                </div>
                <div class="top-item">
                    <img src="/images/avatar.png" alt="avatar" class="avatar">
                    <h2 class="sub-title">Testowy2</h2>
                    <h2 class="sub-title points">90</h2>
                </div>
                <div class="top-item">
                    <img src="/images/avatar.png" alt="avatar" class="avatar">
                    <h2 class="sub-title">Testowy3</h2>
                    <h2 class="sub-title points">80</h2>
                </div>
                <div class="top-item">
                    <img src="/images/avatar.png" alt="avatar" class="avatar">
                    <h2 class="sub-title">Testowy4</h2>
                    <h2 class="sub-title points">70</h2>
                </div>
                <div class="top-item">
                    <img src="/images/avatar.png" alt="avatar" class="avatar">
                    <h2 class="sub-title">Testowy5</h2>
                    <h2 class="sub-title points">65</h2>
                </div>
            </div>
            
        </div>
    </main>
</body>
</html>